{% extends "layouts/layout.html" %}

{% set pageName = profession.name %}
{% set pageDescription = profession.description %}
{% set nav = role %}


{% block hero %}
<section class="dfe-page-hero">
    <div class="dfe-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{profession.name}}</h1>
                <p class="govuk-body-l">{{profession.description}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="dfe-width-container ">
    <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-quarter">


          <a href="/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to professions</a>
          <nav class="dfe-vertical-nav">
            {# Check if there are grouped roles and render the Overview link at the top #}
            {% if profession.groupedRoles %}
            <ul class="dfe-vertical-nav__section">
              <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/profession/{{profession.slug}}/">Overview</a>
              </li>
            </ul>
            {% endif %}
            <h2 class="govuk-heading-m">Roles</h2>
            {% for group, roles in profession.groupedRoles %}
            {% if group !== 'Other' %}
            <h3 class="govuk-heading-s">{{group}}</h3>
            {% endif %}
            <ul class="dfe-vertical-nav__section">
              {# The Overview link is now outside the loop, so it doesn't repeat #}
              {% for roleInfo in roles %}
              <li
                class="dfe-vertical-nav__section-item {% if roleInfo.slug === role %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/{{profession.slug}}/{{roleInfo.slug}}/">{{roleInfo.role}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </nav>

        </div>
        <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">{{profession.name}}</span>
            {% markdown %}
            {% include 'jd/'+ role +'.md' %}
            {% endmarkdown %}
        </div>
    </div>
</div>
{% endblock %}