{% from 'header/macro.njk' import header %}
{% from 'govuk/components/footer/macro.njk' import govukFooter %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8">
  <title>
    {%- if seoPageName %}{{seoPageName}} {% elseif pageName %}{{pageName}}{%endif%} - Find a job description</title>
  <meta name="description"
    content="{% if seoPageDescription %}{{seoPageDescription}}{% elseif pageName %}{{pageDescription}}{%endif%}">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
  <link href="/assets/css/app.min.css" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZRMESF20W"></script>
  <meta name="google-site-verification" content="" />
  <script src="https://kit.fontawesome.com/3015bc434a.js" crossorigin="anonymous"></script>

  {% block head %}{% endblock %}
</head>


<body class="govuk-template__body ">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  {% include 'layouts/_cookiebanner.html'%}
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  {% include 'layouts/_topnav.html'%}
  {% include 'layouts/_services.html'%}

  {% block header %}

  {% include 'layouts/_header.html'%}

  {% endblock %}

  {% block hero %}{% endblock %}

  {% block main %}

  <main class="govuk-main-wrapper" id="main-content" role="main">

    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">


          <a href="/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to professions</a>
          <nav class="dfe-vertical-nav">
            {# Check if there are grouped roles and render the Overview link at the top #}
            {% if profession.groupedRoles %}
            <ul class="dfe-vertical-nav__section">
              <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/profession/{{profession.slug}}/">Overview</a>
              </li>
            </ul>
            {% endif %}
            <h2 class="govuk-heading-m">Roles</h2>
            {% for group, roles in profession.groupedRoles %}
            {% if group !== 'Other' %}
            <h3 class="govuk-heading-s">{{group}}</h3>
            {% endif %}
            <ul class="dfe-vertical-nav__section">
              {# The Overview link is now outside the loop, so it doesn't repeat #}
              {% for roleInfo in roles %}
              <li
                class="dfe-vertical-nav__section-item {% if roleInfo.slug === role %}dfe-vertical-nav__section-item--current{% endif %}">
                <a class="dfe-vertical-nav__link" href="/{{profession.slug}}/{{roleInfo.slug}}/">{{roleInfo.role}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </nav>

        </div>
        <div class="govuk-grid-column-three-quarters">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>



  </main>
  </div>
  {% endblock %}

  </div>

  {% block footer %}
  {% include 'layouts/_footer.html'%}
  {% endblock %}

  <script src="/assets/js/all.min.js"></script>
  <script src="/assets/js/cookies.min.js"></script>
  <script src="/assets/js/feedback.min.js"></script>
  <script src="/assets/js/dfefrontend.min.js"></script>
  {% block scripts %}{% endblock %}
  <script type="module" src="/assets/js/govuk-frontend.min.min.js"></script>
  <script type="module">
    import { initAll } from '/assets/js/govuk-frontend.min.min.js'
    initAll()
  </script>
</body>

</html>